---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginxdp
  labels:
    app: Rered
    env: prod
spec:
  minReadySeconds: 30
  progressDeadlineSeconds: 600
  replicas: 5
  strategy:
    type: rollingUpdate
    rollingUpdate:
      maxSurge: 20%
      maxUnavailable: 20%
  selector:
    matchLabels:
      app: Rered      
      env: prod
  template:
    metadata:
      name: Rered
      labels:
        app: Rered
        env: prod
    spec:
      containers:
      - name: rered-container
        image: nginx:1.28.2
        ports:
        - containerPort: 80
      resources:
        requests:
          cpu: 512m
          memory: 1Gi
        limits:
          cpu: 1000m
          memory: 2Gi
      restartPolicy: Always
        

  
   
   
---
apiVersion: v1
kind: Service
metadata:
  name: dpservice
  labels:
    app: Rered
    env: prod
spec:
  type: NodePort
  ports:
    name: rered-port
    nodePort: 30001
    targetPort: 80
    port: 80
