---
apiVersion: v1
kind: Service
metadata:
  name: dpservice
  labels:
    app: Rered
    env: prod
spec:
  type: NodePort
  ports:
    name: rered-port
    nodePort: 30001
    targetPort: 80
    port: 80
